<div style="padding-top: 20px; padding-bottom: 20px">
    <div class="row form-section visible-section">
        <div class="form-column col-sm-6">
            <div id="generate_scoring_templates">

            </div>
        </div>
    </div>
</div>