<div style="padding-top: 20px; padding-bottom: 20px">
    <div class="form-section visible-section">
        <div class="row">
            <div class="form-column col-sm-3">
                <div class="judge1">
                </div>
                <div id="info_judge1">
                </div>
            </div>
            <div class="form-column col-sm-3">
                <div class="judge2">
                </div>
                <div id="info_judge2">
                </div>
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
                <button class="btn btn-success pull-right" id="update" style="margin-top:19px">{%= __("Update") %}</button>
            </div>
        </div>

        <div id="app">
            <div class="row">
                <div class="col-md-9">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-9">
                            <input class="form-control" type="text" oninput="onQuickFilterChanged(this.value)" id="quickFilter" placeholder="Quick Filter"/>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" id="hide_assigned" checked> {%= __("Only Unassigned") %}
                        </div>
                    </div>
                    <div id="assign_table"  style="height: 600px;width:100%"  class="ag-fresh">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-12">
                            <input class="form-control" type="text" oninput="judgeOnQuickFilterChanged(this.value)" id="judgeQuickFilter" placeholder="Judge  Filter"/>
                        </div>
                    </div>
                    <div id="judges_table"  style="height: 600px;width:100%"  class="ag-fresh">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
</style>