{% extends "templates/web_with_detection.html" %}

{% block title %}{{_("Exhibitor Registration")}}{% endblock %}

{% block page_content %}
<style>
    label{
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: normal;
    }
    h4{
        font-weight: bold;
    }
    .awesomplete{
        width: 100%
    }
</style>
<div class="contact-content">
    <script type="text/javascript" src="{{ '/assets/frappe/js/lib/jquery/jquery.min.js'|abs_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/libs.min.js'|abs_url }}"></script>

    {% if tournament.tournament_status == "Published" %}
        <div class="row">
            <div class="col-md-12">
                <h4>{{_("Federation / Association")}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="association">{{_("Association")}}</label>
                    <input id="association" class="form-control" />
                    <datalist id="asoc_list">
                        {% for option in associations -%}
                        <option value="{{ option.name }}">{{ option.association_name }}</option>
                        {%- endfor %}
                    </datalist>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>{{_("Breeder Information")}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="first_name">{{_("First Name")}}</label>
                    <input id="first_name" class="form-control">
                </div>


            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="surname">{{_("Surname")}}</label>
                    <input id="surname" class="form-control">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dni">{{_("DNI")}}</label>
                    <input id="dni" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="breeder_1">{{_("Breeder Code")}}</label>
                    <input id="breeder_1" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>{{_("Address")}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="territory">{{_("Territory")}}</label>
                    <input id="territory" class="form-control"/>
                    <datalist id="territory_list">
                        {% for option in territories -%}
                        <option value="{{ option.name }}">{{ option.territory_name }}</option>
                        {%- endfor %}
                    </datalist>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city">{{_("City")}}</label>
                    <input id="city" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="address">{{_("Address")}}</label>
                    <input id="address" class="form-control">
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="postal_code">{{_("Postal Code")}}</label>
                    <input id="postal_code" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>{{_("Contact Information")}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telephone">{{_("Telephone")}}</label>
                    <input id="telephone" class="form-control">
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="mobile_phone">{{_("Mobile Phone")}}</label>
                    <input id="mobile_phone" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>{{_("Privacy")}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="allow">{{_("DO YOU ALLOW THE USE OF YOUR CONTACT INFORMATION TO SEND INFORMATION RELATED TO THE TOURNAMENT?")}}</label>
                    <select id="allow" class="form-control">
                        <option value=""></option>
                        <option value="Yes">{{ _("Yes") }}</option>
                        <option value="No">{{ _("No") }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-primary btn-block pull-right" id="save">{{_("Save")}}</button>
                </div>
            </div>
        </div>
	{% else %}
        <div class="row">
            <div class="col-md-12">
                <h4>{{_("Registrations Closed")}}</h4>
                <a href="/">{{_("Go home")}}</a>
            </div>
        </div>
	{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/frappe/js/lib/awesomplete/awesomplete.css' | abs_url }}">
</div>

<script>
    frappe.ready(function() {
        var fields = ["association","dni","first_name","surname","breeder_1","breeder_2","address","city","territory","country",
                        "postal_code","telephone","email","mobile_phone","allow", "password"]

        var non_mandatory = ["breeder_2", "telephone", "mobile_phone"]

        $("#save").click(function(){
            var doc = {};

            $.each(fields, function(i){
                var field = fields[i];
                var wrapper = $("#"+fields[i]);
                var value = wrapper.val();

                if(value==="" && $.inArray(field, non_mandatory)==-1){
                    wrapper.parent().addClass("has-error")
                    has_error_mandatory = true;
                }
                else{
                    wrapper.parent().removeClass("has-error")
                    doc[field]=value;
                }
            });



            frappe.call({
                    method: 'avium_tournament.utils.registration.register',
                    freeze: true,
                    args:{
                        doc:doc
                    },
                    callback: function(r) {
                        console.log(r.message);
                        frappe.show_message("{{_("Registration Succesful")}}");
                        setTimeout(
                          function()
                          {
                            window.location = "/registration";
                          }, 3000);
                    }
            });
        });

        var assoc_awesomplete = new Awesomplete(document.getElementById('association'), {
            minChars: 0,
            list: "#asoc_list",
            maxItems: 999,
            sort: function(a,b) {
                return a>b;
            }
        });
        $('#association').on('focus', function() {
          assoc_awesomplete.evaluate();
        });


        var territory_awesomplete = new Awesomplete(document.getElementById('territory'), {
            minChars: 0,
            list: "#territory_list",
            maxItems: 999,
            sort: function(a,b) {
                return a>b;
            }
        });
        $('#territory').on('focus', function() {
          territory_awesomplete.evaluate();
        });

    })
</script>

{% endblock %}
