{% extends "templates/web_with_detection.html" %}

{% block title %}
	Judging Templates
{% endblock %}

{% block page_sidebar %}
  {% include "templates/pages/web_sidebar.html" %}
{% endblock %}

{% block page_content %}

	<style>
		.container {
			margin: 0 auto;
			width: 100%;
		}
		.page-container {
			margin: 0 auto;
			max-width: none;
			width: 100%;
		}
	</style>
	{% if error=="" %}
		<div class="col-sm-12" style="margin-bottom: 10px">
			<div class="col-sm-3 form-group">
				<label for="group">{{_("Group")}}</label>
				<select name="group" id="group" class="form-control">
					<option value="">{{_("All")}}</option>
				</select>
			</div>
			<div class="col-sm-3 form-group">
				<label for="status">{{_("Status")}}</label>
				<select name="status" id="status" class="form-control">
					<option value="">{{_("All")}}</option>
					<option value="{{_("Judged")}}">{{_("Judged")}}</option>
					<option value="{{_("Pending")}}">{{_("Pending")}}</option>
					<option value="{{_("Tied")}}">{{_("Tied")}}</option>
					<option value="{{_("Error")}}">{{_("Error")}}</option>
				</select>

			</div>
			<div class="col-sm-3">

			</div>
			<div class="col-sm-3 form-group">
				<button id="clean_filters" class="btn pull-right" style="margin-top:25px">{{_("Clean filters")}}</button>
			</div>
		</div>
		<div class='col-sm-12' style="margin-bottom: 100px">
			<div id="judging_grid" class="ag-theme-balham" style="height: 450px">
			</div>
		</div>
	{% else %}
		<h1>{{_("You are not allowed to see this page")}}</h1>
		<h3><a href="/login">{{_("If you are a judge, please login")}}</a></h3>
	{% endif %}

	<script type="text/javascript" src="{{ '/assets/avium_tournament/js/judging_interface.js'|abs_url }}"></script>
{% endblock %}


