{% extends "templates/web_with_detection.html" %}

{% block title %}
    {{_("Exhibitor Registration")}}
{% endblock %}

{% block page_sidebar %}
asd
{% endblock %}


{% block page_content %}
    {% if error=="" %}
        <script type="text/javascript" src="{{ '/assets/frappe/js/lib/jquery/jquery.min.js'|abs_url }}"></script>
        <script type="text/javascript" src="{{ '/assets/js/libs.min.js'|abs_url }}"></script>
        <script type="text/javascript" src="{{ '/assets/avium_tournament/js/registration.js'|abs_url }}"></script>
        <script type="text/javascript" src="{{ '/assets/avium_tournament/js/dist/bootbox.min.js'|abs_url }}"></script>


        <style>
            h4{
                font-weight: bold;
            }
            .fa-2{
                font-size: 20px;
                margin-right: 5px;
            }
            .awesomplete {
                display: inline !important;
            }
            .awesomplete > ul {
                min-width: 400px !important;
            }
            input[required]{
                border-color:red;
            }
        </style>

        <div id="app">
            <div v-if="loading">
                <i  v-show="loading" class="fa fa-spinner fa-spin"> </i>
                <span>{{ _("Loading") }}</span>
            </div>
            <div v-else>
                <h2>[[ registration.tournament ]]</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#tournament_info_modal"> {{ _("View Tournament Info") }} </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#payment_info_modal">{{ _("Payment Information") }}</button>
                    </div>
                </div>
                <br>
                <h4>{{ _("General Information").upper() }}</h4>
                <div class="row">
                    {% if tournament.enable_carrier!=0 %}
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="carrier">{{ _("Carrier") }} {% if tournament.mandatory_rings %} <span style="color:red; font-size:10px; margin-top:8px;"> {{_("Mandatory")}}</span> {% endif %}</label>

                            <select v-model="registration.carrier" class="form-control" id="carrier" placeholder="Carrier">
                                <option v-for="option in carriers" v-bind:value="option.name">
                                    [[ option.carrier_name ]]
                                </option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="books">{{ _("Books") }}</label>
                            <input v-model.number="registration.books" class="form-control" id="books" placeholder="Books">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="specimen_food">{{ _("Specimen Food") }}</label>
                            <select v-model="registration.specimen_food" class="form-control" id="specimen_food" placeholder="Specimen Food">
                                <option value="Seeds">{{ _("Seeds") }}</option>
                                <option value="Fodder">{{ _("Fodder") }}</option>
                            </select>
                        </div>
                    </div>
                    {% if tournament.enable_membership_price!=0 %}
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="membership_discount">{{ _("Membership Discount") }}</label>
                            <select v-model="registration.membership_discount" class="form-control" id="membership_discount" placeholder="Membership Discount">
                                <option value="Yes">{{ _("Yes") }}</option>
                                <option value="No">{{ _("No") }}</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <!--<div class="col-sm-3">-->
                    <!--<div class="form-group">-->
                    <!--<label for="meals">{{ _("Meals") }}</label>-->
                    <!--<input v-model.number="registration.meals" class="form-control" id="meals" placeholder="Specimen Food">-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <h4>{{ _("Inidividual Registrations").upper() }}</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">{{ _("Group") }}</th>
                        <th class="col-md-8">{{ _("Registration Description") }}</th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr is="ind_registration_line"  :line="line" v-for="line of registration.individual_table"></tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#add_individual"> {{ _("Add Individual Specimen") }} </button>
                    </div>
                </div>
                <h4>{{ _("Team Registrations").upper() }} </h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">{{ _("Group") }}</th>
                        <th class="col-md-8">{{ _("Registration Description") }}</th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr is="team_registration_line"  :line="line" v-for="line of registration.team_table"></tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#add_team"> {{ _("Add Team Specimen") }} </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="total_price">{{ _("Total Price") }}</label>
                            <div class="input-group">
                                <input readonly v-model="registration.total_price" class="form-control" id="total_price">
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="total_price">{{ _("Total Specimen") }}</label>
                            <input readonly v-model="registration.total_specimen" class="form-control" id="total_specimen">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="form-group">
                            <label for="specimen_food">{{ _("DO YOU ALLOW THE USE OF YOUR CONTACT INFORMATION TO SEND INFORMATION RELATED TO THE TOURNAMENT?") }}</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-12">
                        <div class="form-group">
                            <select v-model="registration.allow" class="form-control" id="allow_use" placeholder="Specimen Food">
                                <option value="No">{{ _("No") }}</option>
                                <option value="Yes">{{ _("Yes") }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="form-group">
                            <label for="specimen_food">{{ _("IF YOU HAVE ANY SING SPECIMENS, WHEN DO YOU WANT TO PRESENT THEM?") }}</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-12">
                        <div class="form-group">
                            <select v-model="registration.sing_judgement_date" class="form-control" id="sing_judgement_date" placeholder="Specimen Food">
                                <option value="Saturday">{{ _("Saturday") }}</option>
                                <option value="Sunday">{{ _("Sunday") }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {% if tournament.tournament_status == "Published" %}
                    <div class="row">
                        <div class="col-sm-12">
                            <button id="save_button" class="btn btn-block btn-success" v-on:click="update">{{ _("Save") }}</button>
                        </div>
                    </div>
                {% endif %}
                <br>
                <div v-if="registration.name" class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-block btn-primary" v-on:click="print_pdf">{{ _("Print") }}</button>
                    </div>
                </div>

                <h6 class="pull-right">[[ registration.name ]]</h6>

            </div>

            <div id="tournament_info_modal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ _("Torunament Info") }}</h4>
                        </div>
                        <div class="modal-body">
                            <div v-html="tournament.tournament_information"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="payment_info_modal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ _("REGISTRATION PAYMENT INFORMATION") }}</h4>
                        </div>
                        <div class="modal-body">
                            <div v-html="tournament.registration_payment_information"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="add_team" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ _("Add Team Specimen") }}</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="team_add_select">{{ _("Group Search") }}</label>
                                    <br>
                                    <input id="team_add_select" class="form-control ">
                                </div>
                                <div class="form-group">
                                    <label for="team_group_selected">{{ _("Group Selected") }}</label>
                                    <input disabled id="team_group_selected"  :value="last_team.label" class="form-control ">
                                </div>

                                <div v-if="last_team.registration_description != 'Blocked'" class="form-group">
                                    <label for="team_group_description">{{ _("Group Description") }}</label>
                                    <input id="team_group_description"  v-model="last_team.group_description" class="form-control" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="add_team">{{ _("Add") }}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="add_individual" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ _("Add Individual Specimen") }}</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="individual_add_select">{{ _("Group Search") }}</label>
                                    <br>
                                    <input id="individual_add_select" class="form-control ">
                                </div>
                                <div class="form-group">
                                    <label for="group_selected">{{ _("Group Selected") }}</label>
                                    <input disabled id="group_selected"  :value="last_individual.label" class="form-control ">
                                </div>

                                <div v-if="last_individual.registration_description != 'Blocked'" class="form-group">
                                    <label for="group_description">{{ _("Group Description") }}</label>
                                    <input id="group_description"  v-model="last_individual.group_description" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="add_individual">{{ _("Add") }}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="printmodal" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ _("Error") }}</h4>
                            </div>
                            <div class="modal-body">
                                {{ _("There are modifications to your registration, save it before printing") }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>



        <script type="text/x-template" id="registration_line-template">
            <tr>
                <td> [[ line.group_code ]] </td>
                <td> [[ line.registration_description ]]</td>
                <td>
                    {% if tournament.tournament_status == "Published" %}
                        <i class="btn fa fa-pencil-square-o fa-2" aria-hidden="true" data-toggle="modal" :data-target="['#line'+type + line.idx]"></i>
                        <i class="btn fa fa-trash-o fa-2" v-on:click="delete_item" data-type="[type]" data-idx="[idx]" aria-hidden="true"></i>
                    {% endif %}
                    <div :id="['line'+type+line.idx]" class="modal" role="dialog">
                        <div class="modal-dialog modal-admin">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ _("Group") }} [[ line.group_code ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>{{ _("Group Description") }}</label>
                                                <input disabled v-model="line.group_description" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>{{ _("Registration Description") }}</label>
                                                <input :disabled="description_blocked" v-model="line.registration_description" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th> {{ _("Specimen A") }} </th>
                                                    <th v-if="line.team_size > 1">{{ _("Specimen B") }} </th>
                                                    <th v-if="line.team_size > 2">{{ _("Specimen C") }} </th>
                                                    <th v-if="line.team_size > 3">{{ _("Specimen D") }} </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="col-md-4">{{ _("Federation Code") }}</td>
                                                    <td class="col-md-2"><input v-model="line.federation_code_a" class="form-control"></td>
                                                    <td v-if="line.team_size > 1" class="col-md-2"><input v-model="line.federation_code_b" class="form-control"></td>
                                                    <td v-if="line.team_size > 2" class="col-md-2"><input v-model="line.federation_code_c" class="form-control"></td>
                                                    <td v-if="line.team_size > 3" class="col-md-2"><input v-model="line.federation_code_d" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4">{{ _("Breeder Code") }}</td>
                                                    <td class="col-md-2"><input v-model="line.breeder_code_a" class="form-control"></td>
                                                    <td v-if="line.team_size > 1" class="col-md-2"><input v-model="line.breeder_code_b" class="form-control"></td>
                                                    <td v-if="line.team_size > 2" class="col-md-2"><input v-model="line.breeder_code_c" class="form-control"></td>
                                                    <td v-if="line.team_size > 3" class="col-md-2"><input v-model="line.breeder_code_d" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4">{{ _("Ring") }} {% if tournament.mandatory_rings %} <span style="color:red; float:right; font-size:10px; margin-top:8px;"> {{_("Mandatory")}}</span> {% endif %} </td>
                                                    <td class="col-md-2"><input v-model.number="line.ring_a" class="form-control"></td>
                                                    <td v-if="line.team_size > 1" class="col-md-2"><input v-model.number="line.ring_b" class="form-control"></td>
                                                    <td v-if="line.team_size > 2" class="col-md-2"><input v-model.number="line.ring_c" class="form-control"></td>
                                                    <td v-if="line.team_size > 3" class="col-md-2"><input v-model.number="line.ring_d" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4">{{ _("Birth Year") }}</td>
                                                    <td class="col-md-2"><input type="number" v-model.number="line.birth_year_a" class="form-control"></td>
                                                    <td v-if="line.team_size > 1" class="col-md-2"><input type="number" v-model.number="line.birth_year_b" class="form-control"></td>
                                                    <td v-if="line.team_size > 2" class="col-md-2"><input type="number" v-model.number="line.birth_year_c" class="form-control"></td>
                                                    <td v-if="line.team_size > 3" class="col-md-2"><input type="number" v-model.number="line.birth_year_d" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4">{{ _("Sex") }}</td>
                                                    <td class="col-md-2">
                                                        <select v-model="line.sex_a" class="form-control">
                                                            <option value="Male">{{ _("Male") }}</option>
                                                            <option value="Female">{{ _("Female") }}</option>
                                                        </select>
                                                    </td>
                                                    <td v-if="line.team_size > 1" class="col-md-2">
                                                        <select v-model="line.sex_b" class="form-control">
                                                            <option value="Male">{{ _("Male") }}</option>
                                                            <option value="Female">{{ _("Female") }}</option>
                                                        </select>
                                                    </td>
                                                    <td v-if="line.team_size > 2" class="col-md-2">
                                                        <select v-model="line.sex_c" class="form-control">
                                                            <option value="Male">{{ _("Male") }}</option>
                                                            <option value="Female">{{ _("Female") }}</option>
                                                        </select>
                                                    </td>
                                                    <td v-if="line.team_size > 3" class="col-md-2">
                                                        <select v-model="line.sex_d" class="form-control">
                                                            <option value="Male">{{ _("Male") }}</option>
                                                            <option value="Female">{{ _("Female") }}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                {% if tournament.enable_league_inscriptions %}
                                                <tr>
                                                    <td class="col-md-4">{{ _("League Inscription") }}</td>
                                                    <td class="col-md-2">
                                                        <select v-model="line.league_inscription_a" class="form-control">
                                                            <option value="Yes">{{ _("Yes") }}</option>
                                                            <option value="No">{{ _("No") }}</option>
                                                        </select>
                                                    </td>
                                                    <td v-if="line.team_size > 1" class="col-md-2">
                                                        <select v-model="line.league_inscription_b" class="form-control">
                                                            <option value="Yes">{{ _("Yes") }}</option>
                                                            <option value="No">{{ _("No") }}</option>
                                                        </select>
                                                    </td>
                                                    <td v-if="line.team_size > 2" class="col-md-2">
                                                        <select v-model="line.league_inscription_c" class="form-control">
                                                            <option value="Yes">{{ _("Yes") }}</option>
                                                            <option value="No">{{ _("No") }}</option>
                                                        </select>   
                                                    </td>
                                                    <td v-if="line.team_size > 3" class="col-md-2">
                                                        <select v-model="line.league_inscription_d" class="form-control">
                                                            <option value="Yes">{{ _("Yes") }}</option>
                                                            <option value="No">{{ _("No") }}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% if tournament.enable_tax %}
                                                <tr>
                                                    <td class="col-md-4">{{ _("Tax") }}</td>
                                                    <td class="col-md-2"><input v-model.number="line.tax_a" class="form-control"></td>
                                                    <td v-if="line.team_size > 1" class="col-md-2"><input v-model.number="line.tax_b" class="form-control"></td>
                                                    <td v-if="line.team_size > 2" class="col-md-2"><input v-model.number="line.tax_c" class="form-control"></td>
                                                    <td v-if="line.team_size > 3" class="col-md-2"><input v-model.number="line.tax_d" class="form-control"></td>
                                                </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                            <span style="margin-left:8px; font-weight:bold">Puede cambiar las anillas hasta el dia que se cierren las inscripciones</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </script>
        <link rel="stylesheet" type="text/css" href="{{ '/assets/frappe/js/lib/awesomplete/awesomplete.css' | abs_url }}">
    {% else %}
        <h1>{{_("You are not allowed to see this page")}}</h1>
        <h3><a href="/login">{{_("Login")}}</a></h3>
        <div style="display: none">
            <ul>
                <li>
                    {{ frappe.session }}
                </li>
                <li>
                    {{ roles }}
                </li>
            </ul>
        </div>
    {% endif %}

{% endblock %}
