{% extends "templates/web_with_detection.html" %}

{% block title %}
{% if error=="" %}
{{ doc.cage_number }}
{% endif %}
{% endblock %}


{% block page_content %}
{% if error=="" %}

<!-- no-cache -->
<style>
    .sidebar-block, .page-content{
        padding-top:10px !important
    }
    tr {
       line-height: 12px;
       min-height: 12px;
       height: 12px;
    }
    .footer{
        background-color: #A8D5FF;
        height: 80px;
    }
    .footer_p{
        margin: 2px !important;
    }
    .cage_p{
        margin: 2px !important;
        margin-bottom: 5px !important;
        font-weight: bold;
        font-size: 20px;
    }
    .points{
        font-weight: bold;
        color: #ec5b00;
    }

    
</style>
<div id="app">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">{{ _("Registration Description") }}</label>
                </div>
                <div class="control-input-wrapper">
                    <input class="form-control" type="text" v-model="doc.registration_description">
                </div>
                {% if is_manual_trophy %}
                <br>
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">{{ _("Manual Prize") }}</label>
                </div>
                <div class="control-input-wrapper">
                    <select class="form-control" v-model="doc.manual_prize">
                        <option v-for="item in available_trophy" v-bind:value="item.description" > [[ item.description ]]</option>
                    </select>
                </div>
                {% endif %}
            </div>

            <table class="concepts table table-striped">
                <thead>
                <tr>
                    <th style="width:43%">{{ _("Concept") }}</th>
                    <th style="width:5%"></th>
                    <th style="width:13%">A</th>
                    <th style="width:13%">B</th>
                    <th style="width:13%">C</th>
                    <th style="width:13%">D</th>
                </tr>
                <tr>
                    <th style="vertical-align:middle">{{ _("Status") }}</th>
                    <th></th>
                    <th>
                        <select class="status form-control" v-model="doc.status_a" :disabled="doc.team_size < 1 ? true : false" >
                            <option v-for="item in status_options" :value="item.value"> [[ item.string ]]</option>
                        </select>
                    </th>
                    <th>
                        <select class="status form-control" v-model="doc.status_b" :disabled="doc.team_size < 2 ? true : false">
                            <option v-for="item in status_options" :value="item.value"> [[ item.string ]]</option>
                        </select>
                    </th>
                    <th>
                        <select class="status form-control" v-model="doc.status_c" :disabled="doc.team_size < 3 ? true : false">
                            <option v-for="item in status_options" :value="item.value"> [[ item.string ]]</option>
                        </select>
                    </th>
                    <th>
                        <select class="status form-control" v-model="doc.status_d" :disabled="doc.team_size < 4 ? true : false">
                            <option v-for="item in status_options" :value="item.value"> [[ item.string ]]</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th style="vertical-align:middle">{{ _("Location Status") }}</th>
                    <th></th>
                    <th>
                        <span style="margin-left: 2px"> {{ _(doc.location_status_a) }}</span>
                    </th>
                    <th>
                        <span style="margin-left: 2px"> {{ _(doc.location_status_b) }}</span>
                    </th>
                    <th>
                        <span style="margin-left: 2px"> {{ _(doc.location_status_c) }}</span>
                    </th>
                    <th>
                        <span style="margin-left: 2px"> {{ _(doc.location_status_d) }}</span>
                    </th>
                </tr>
                <tr>
                    <th style="vertical-align:middle">{{ _("Big Prize") }}</th>
                    <th></th>
                    <th>
                        <select class="form-control" v-model="doc.big_prize_a" :disabled="doc.team_size < 1 ? true : false" >
                            <option value="Yes"> {{ _("Yes") }}</option>
                            <option value="No"> {{ _("No") }}</option>
                        </select>
                    </th>
                    <th>
                        <select class="form-control" v-model="doc.big_prize_b" :disabled="doc.team_size < 2 ? true : false">
                            <option value="Yes"> {{ _("Yes") }}</option>
                            <option value="No"> {{ _("No") }}</option>
                        </select>
                    </th>
                    <th>
                        <select class="form-control" v-model="doc.big_prize_c" :disabled="doc.team_size < 3 ? true : false">
                            <option value="Yes"> {{ _("Yes") }}</option>
                            <option value="No"> {{ _("No") }}</option>
                        </select>
                    </th>
                    <th>
                        <select class="form-control" v-model="doc.big_prize_d" :disabled="doc.team_size < 4 ? true : false">
                            <option value="Yes"> {{ _("Yes") }}</option>
                            <option value="No"> {{ _("No") }}</option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="concept in doc.concepts">
                    <td>[[ concept.concept_name ]]</td>
                    <td style="color: #ec5b00; font-size: 12px; padding-top: 14px">[[ concept.default_value ]]</td>
                    <td>
                        <concept_value
                                v-model=concept.value_a
                                :status=doc.status_a
                                :min=concept.min_value
                                :max=concept.max_value
                                :default=concept.default_value
                                :team_size=doc.team_size
                                :position=1>
                        </concept_value>
                    </td>
                    <td>
                        <concept_value
                                v-model=concept.value_b
                                :status=doc.status_b
                                :min=concept.min_value
                                :max=concept.max_value
                                :default=concept.default_value
                                :team_size=doc.team_size
                                :position=2>
                        </concept_value>
                    </td>
                    <td>
                        <concept_value
                                v-model=concept.value_c
                                :status=doc.status_c
                                :min=concept.min_value
                                :max=concept.max_value
                                :default=concept.default_value
                                :team_size=doc.team_size
                                :position=3>
                        </concept_value>
                    </td>
                    <td>
                        <concept_value
                                v-model=concept.value_d
                                :status=doc.status_d
                                :min=concept.min_value
                                :max=concept.max_value
                                :default=concept.default_value
                                :team_size=doc.team_size
                                :position=4>
                        </concept_value>
                    </td>
                </tr>
                <tr style="font-weight: bold">
                    <td>{{ _("Subtotals") }}</td>
                    <td></td>
                    <td>[[doc.total_a]]</td>
                    <td>[[doc.total_b]]</td>
                    <td>[[doc.total_c]]</td>
                    <td>[[doc.total_d]]</td>
                </tr>
                </tbody>
            </table>

            <div class="row" style="font-weight: bold; margin-bottom: 15px">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class=" pull-left">{{ _("Sum Mark") }}</div>
                            <div class="pull-right points">[[doc.sum_mark]]</div>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-left">{{ _("Harmony") }}</div>
                            {% if is_manual_harmony %}
                            <div class="pull-right concepts">
                                <select class="tied form-control points" v-model.number="doc.harmony" style="max-width:50px">
                                        <option v-for="item in [0,1,2,3,4,5,6,7,8,9,10]"> [[ item ]]</option>
                                </select>
                            </div>
                            {% else %}
                            <div class="pull-right points">[[doc.harmony]]</div>
                            {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div class="pull-left">{{ _("Tie Break Mark") }}</div>
                            {% if doc.block_tie_break_mark==0 %}
                            <div class="pull-right concepts">
                                <select class="tied form-control points" v-model.number="doc.tie_break_mark" style="min-width:80px">
                                    <option v-for="item in [0,1,2,3,4,5,6,7,8,9,10]"> [[ item ]]</option>
                                </select>
                            </div>
                            {% else %}
                            <div class="pull-right points">[[doc.tie_break_mark]]</div>
                            {% endif %}
                    </div>
                    <div class="col-md-3">
                        <div class="pull-left">{{ _("Total Mark") }}</div>
                            <div class="pull-right points">[[doc.total_mark]]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <label>{{ _("Observations") }}</label>
            <textarea v-model=doc.observations class="form-control" rows="10"></textarea>
        </div>
        <div class="col-md-6 col-xs-6">
            <label>{{ _("Judge notes") }}</label>
            <textarea v-model=doc.judge_notes class="form-control" rows="10"></textarea>
        </div>
    </div>

    <div class="footer navbar-fixed-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-xs-6">
                      <p class="cage_p"><a class="fa fa-info-circle fa-2" style="font-size: 1em;" aria-hidden="true" target="_blank" href="{{doc_url}}"></a> {{ _("Group") }} {{doc.group_code}} {{ _("Cage") }} {{doc.cage_number}} {% if doc.prize_visualization %} {{doc.prize_visualization}} {% endif %}</p>
                      <p class="footer_p" style="font-weight:bold">
                            {{doc.group_description}}
                            {% if doc.group_code[0]=="H" and doc.group_description != doc.registration_description %}
                                {{doc.registration_description}} 
                            {% endif %}
                      </p>
                      <p class="footer_p" style="font-weight: bold">
                          {% if doc.tufted==1 %} <span>{{ _("Tufted").upper() }}</span> {% endif %}
                          <span>  </span>
                          {% if doc.red_factor==1 %} <span style="color:red">{{ _("Red Factor").upper() }}</span> {% endif %}
                          <span>  </span>
                          {% if doc.size %} <span> {{ _("Size") }}: {{doc.size}}</span> {% endif %}
                      </p>
                  </div>
                  <div class="col-md-6 col-xs-6" style="height:75px; line-height:75px; text-align:right">
                            <button style="vertical-align:middle" class="btn btn-success" v-if="tournament.tournament_status=='Started'" v-on:click="save_st">{{ "Enjuiciar" }}</button>
                            <button style="vertical-align:middle" class="btn btn-warning" v-on:click="cancel_st">{{ "Atrás" }}</button>
                  </div>
              </div>
          </div>
    </div>
    <div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="confirmMessage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmYes">{{ _("Yes") }}</button>
                    <button type="button" class="btn btn-default" id="confirmCancel">{{ _("Cancel") }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
	<script type="text/javascript" src="{{ '/assets/avium_tournament/js/scoring_interface.js'|abs_url }}"></script>

    {% elif error %}
        <h1>{{error}}</h1>
	{% else %}
		<h1>{{_("You are not allowed to see this page")}}</h1>
		<h3><a href="/login">{{_("If you are a judge, please login")}}</a></h3>
	{% endif %}

{% endblock %}