{% extends "templates/web_with_detection.html" %}

{% block title %}
	Judging Templates
{% endblock %}

{% block page_content %}
{% if error == None %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div class="page-header">
                <h1>{{ tournament.tournament_name }}</h1>
				<h6>{{_("Organized by")}}: {{tournament.association}}</h6>
            </div>
        </div>
    </div>

	<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-heading">{{_("Exhibitors")}}</div>
				  <div class="panel-body">
					  <p>{{_("End of registrations:")}} <b> {{ frappe.utils.formatdate(tournament.end_registration_date, 'dd/MM/YYYY') }} {{ frappe.utils.format_time(tournament.end_registration_date) }}</b></p>
	
					  {% if tournament.get_exhibitors_registration_open() %}
							<p>
								{{_("If you don't have an account register:")}} <a class="btn btn-primary btn-block" href="https://www.avium.eu/register-exhibitor" target="_blank"> {{_("Create Account")}} </a>
							</p>
					  {% else %}
							<p>
								<b style="color: red">{{_("Registrations Closed")}}</b>
							</p>
					  {% endif %}
					  <p>
						{% if tournament.get_exhibitors_registration_open() and frappe.session.user=='Guest' %}
							{{_("If you are already registered:")}} <a class="btn btn-success btn-block" href="/login"> {{_("Create your Registration")}} </a>
						{% else %}
							{{_("If you are already registered:")}} <a class="btn btn-success btn-block" href="/registration"> {{_("Manage your Registration")}} </a>
						{% endif %}
					  </p>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-heading">{{_("Judges")}}</div>
				  <div class="panel-body">
					  <div>
						<p>
							{% if frappe.session.user != "Guest" %}
								<a class="btn btn-primary btn-block" href="/judging">{{_("Access for Judges")}}</a>
							{% else %}
								<a class="btn btn-primary btn-block" href="/login?admin=1&redirect-to=/judging">{{_("Access for Judges")}}</a>
							{% endif %}
						</p>
					</div>
				  </div>
				</div>
			</div>
	</div>

    <div class="row">
		<div class="col-md-12">
            <h3>{{ tournament.tournament_information }}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p><b>{{_("Federation")}}: </b> {{tournament.federation}}</p>
			<p><b>{{_("Judge Association")}}: </b> {{tournament.judge_association}}</p>
		</div>
	</div>
	<br>


	<div class="row">
        <div class="col-md-6">
			<div class="panel-group" id="panel-7432">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-7432" href="#panel-element-738828">{{ _("Schedule Information") }}</a>
					</div>
					<div id="panel-element-738828" class="panel-collapse collapse">
						<div class="panel-body">
							{{ tournament.tournament_schedule }}
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-6">
			<div class="panel-group" id="panel-7433">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-7433" href="#panel-element-789937">{{ _("Payment Information") }}</a>
					</div>
					<div id="panel-element-789937" class="panel-collapse collapse">
						<div class="panel-body">
							{{ tournament.registration_payment_information }}
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% else %}
<h1>{{ error }}</h1>
{% endif %}
{% endblock %}
