{% extends "templates/web.html" %}


{%- block body_include %}

<script type="text/javascript" src="{{ '/assets/avium_tournament/js/dist/bowser.js'|abs_url }}"></script>

<script>
    frappe.ready(function() {
        if(bowser.name!="Chrome" && bowser.name!="Firefox"){
            $("#browser_support").css("display", "block");
        }
        $("#browser_support").click(function(){
            $("#browser_support").css("display", "none");
        })
    })
</script>

<nav id="browser_support" class="navbar navbar-inverse navbar-fixed-bottom" style="display:none; color: white; background-color: rgb(175, 0, 0);">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">{{_("Browser not fully supported, please download:")}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="https://www.mozilla.org/ca/firefox/new/">Firefox</a></li>
      <li><a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#close">{{ _("Close") }}</a></li>
    </ul>
  </div>
</nav>
{% endblock -%}