<div style="padding-top: 20px; padding-bottom: 20px">
    <div class="form-section visible-section">
        <div class="row">
            <div class="form-column col-sm-2">
                <div class="registration">
                </div>
            </div>
            <div id="reg_info" style="display: none">
                <div class="form-column col-sm-3">
                    <div class="exhibitor_name">
                    </div>
                </div>
                <div class="form-column col-sm-2">
                    <div class="carrier">
                    </div>
                </div>
                <div class="form-column col-sm-2">
                    <button class="btn btn-success" style="margin-top:23px" id="update_carrier">{%= __("Update Carrier") %}</button>
                </div>
                <div class="form-column col-sm-1">
                    <button class="btn btn-success" style="margin-top:23px" id="print_reg">{%= __("Print") %}</button>
                </div>
            </div>
        </div>
        <div id="app">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-3">
                            <input type="checkbox" id="hide_assigned" checked> {%= __("Only Unassigned") %}
                        </div>
                    </div>
                    <div id="ring_update" style="height: 600px;width:100%"  class="ag-theme-bootstrap">

                    </div>
                    <div>
                        <b style="color:blue"> {%= __("Individual Registration")  %}</b>
                        <b style="color:green"> {%= __("Team Registration")  %}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
</style>